<div class="backdrop" ui-sref="^"></div>

<div class="inner-container" go-back>

    <div class="custom-modal">
        <div id="picker" class="modal-dialog">
            <div class="modal-content animated fadeInDown">
                <div class="modal-header">{{ 'DATA_GATHERING' | translate }}</div>

                <div class="modal-body">

                    <b>{{ 'GATHER_TLDR' | translate }}</b>
                    <br><br>

                    {{ 'GATHER_TEXT' | translate }}
                    <ol>
                        <li>{{ 'GATHER_LI1' | translate }}</li>
                        <li>{{ 'GATHER_LI2' | translate }}</li>
                    </ol>

                    <span ng-bind-html="'GATHER_LINK_TEXT' | translate"></span>
                    <br><br>

                    <div id="pickerUnits" class="modal-div">
                        <a ng-repeat="unit in units" class="slot medium" target="_blank" ng-if="!unit.incomplete"
                            decorate-slot uid="unit.id" href="../characters/#/view/{{unit.id}}">
                        </a>
                    </div>

                </div>

                <div class="modal-footer">
                    <button class="btn btn-default" ui-sref="^">{{ 'CLOSE' | translate }}</button> 
                </div>

            </div>
        </div>
    </div>

</div>
