<div class="backdrop" ui-sref="^"></div>

<div class="inner-container" go-back>

    <div class="custom-modal">
        <div id="picker" class="modal-dialog">
            <div class="modal-content animated fadeInDown">
                <div class="modal-header">{{ 'INSTRUCTIONS' | translate }}</div>
                <div class="modal-body slim">
                    <div id="instructions">
					{{ 'INST_HOLD_DOWN' | translate }}
                    <p><p>
					<b>{{ 'INST_DAMAGE_WINDOW' | translate }}</b>
                    <br>
                    <ul>
  						<li><tt>{{ 'INST_MID_CLICK' | translate }}</tt>: {{ 'INST_CHANGE_MISS' | translate }}</li>
                        <li><tt>CTRL</tt>: {{ 'INST_CHANGE_MISS' | translate }}</li>
                        <li><tt>SHIFT</tt>: {{ 'INST_CHANGE_TYPE' | translate }}</li>
                        <li><tt>{{ 'INST_DRAG_DROP' | translate }}</tt>: {{ 'INST_CHANGE_ORDER' | translate }}</li>
						<li><tt>{{ 'INST_DBL_CLICK_BG' | translate }}</tt>: {{ 'INST_ENABLE_DARK' | translate }}</li>
                    </ul>
                    <br>
                    <b>{{ 'INST_UNITS_WINDOW' | translate }}</b>
                    <ul>
						<li><tt>{{ 'INST_MID_CLICK' | translate }}</tt>: {{ 'INST_CHANGE_MISS' | translate }}</li>
                        <li><tt>CTRL</tt>: {{ 'INST_CHANGE_ORBS' | translate }}</li> 
                        <li><tt>SHIFT</tt>: {{ 'INST_DESPAIR_CAP' | translate }}</li>
                        <li><tt>ALT</tt>: {{ 'INST_LOCK_UNITS' | translate }}</li>
                        <li><tt>SHIFT + ALT</tt>: {{ 'INST_DISABLE_UNIT' | translate }}</li>
                        <li><tt>{{ 'INST_DRAG_DROP' | translate }}</tt>: {{ 'INST_CHANGE_POS' | translate }}</li>
						<li><tt>{{ 'INST_CLICK_LEVEL' | translate }}</tt>: {{ 'INST_OPEN_LEVEL_SLIDER' | translate }}</li>
						<li><tt>{{ 'INST_MID_CLICK_LEVEL' | translate }}</tt>: {{ 'INST_SET_MAX' | translate }}</li>

                    </ul>
                    <br>
                    <b>{{ 'INST_SHIP_SLIDER' | translate }}</b>
                    <ul>
                       <li><tt>CTRL</tt>: {{ 'INST_OPEN_SHIP_WIN' | translate }}</li> 
                    </ul>
                    <br>
                    <b>{{ 'INST_ENEMY_DEF' | translate }}</b>
                    <ul>
                       <li><tt>CTRL</tt>: {{ 'INST_OPEN_DEF_WIN' | translate }}</li> 
                    </ul>
                    <br>
                    <b>{{ 'INST_STAT_WINDOW' | translate }}</b>
                    <ul>
                        <li><tt>{{ 'INST_DRAG_SLIDER' | translate }}</tt>: {{ 'INST_ADJ_HP' | translate }}</li>
                        <li><tt>{{ 'INST_LEFT_CLICK_HP' | translate }}</tt>: {{ 'INST_OPEN_HP_PROMPT' | translate }}</li>
                    </ul>
                </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" ui-sref="^">{{ 'GO_BACK' | translate }}</button> 
                </div>
            </div>
        </div>
    </div>

</div>
