<div class="backdrop" ui-sref="^"></div>

<div class="inner-container" go-back>

    <div class="custom-modal">
        <div id="picker" class="modal-dialog">
            <div class="modal-content animated fadeInDown">
                <div class="modal-header">{{ 'PICK_UNIT' | translate }}
                    <p class="pull-right">
                        <span class="help" popover-trigger="mouseenter" popover-placement="bottom"
                            uib-popover-template="'operators.html'">{{ 'OPERATORS' | translate }}</span>
                    </p>
                </div>
                <div class="modal-body">

                    <input type="text" id="picker" placeholder="{{ 'TYPE_TO_FILTER' | translate }}"
                        ng-model="query" ng-model-options="{ debounce: 500 }" auto-focus class="modal-filter">

                    <div id="pickerUnits" class="modal-div">
                        <div class="slot medium" ng-repeat="unit in units" ng-click="pickUnit(unit.id)"
                            decorate-slot="static" uid="unit.id" flag="true">
                        </div> 
                    </div>

                    <div id="recent">
                        <span>{{ 'RECENTLY_PICKED' | translate }}</span>
                        <div id="recentUnits">
                        <div class="slot small" ng-repeat="unit in recents" ng-click="pickUnit(unit)"
                            decorate-slot uid="unit" flag="true">
                            </div> 
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" ui-sref="^">{{ 'CANCEL' | translate }}</button> 
                </div>
            </div>
        </div>

        <script id="operators.html" type="text/ng-template">
            <div>
                {{ 'OPERATORS_TITLE' | translate }}
                <br>
                <ul>
                    <li><tt>type:X</tt>: {{ 'OPERATOR_TYPE' | translate }}</li>
                    <li><tt>class:X</tt>: {{ 'OPERATOR_CLASS' | translate }}</li>
                    <ul><li>{{ 'OPERATOR_FREE' | translate }}</li></ul>
                    <li><tt>family:X</tt>: {{ 'OPERATOR_FAMILY' | translate }}</li>
                    <ul><li>{{ 'OPERATOR_UNDERSCORE' | translate }} </li></ul>
                    <ul><li>{{ 'OPERATOR_NOT_FAMILY' | translate }} </li></ul>
                    <li><tt>supports:X</tt>: {{ 'OPERATOR_SUPPORTS' | translate }}</li>
                    <li><tt>units:X</tt>: {{ 'OPERATOR_UNITS' | translate }}</li>
                </ul>
                <br>
                {{ 'OPERATORS_MATH_TITLE' | translate }}
                <ul>
                    <li><tt>hp&gt;X</tt>: {{ 'OPERATOR_HP' | translate }}</li>
                    <li><tt>atk&gt;X</tt>: {{ 'OPERATOR_ATK' | translate }}</li>
                    <li><tt>cost&gt;X</tt>: {{ 'OPERATOR_COST' | translate }}</li>
                    <li><tt>stars&gt;X</tt>: {{ 'OPERATOR_STARS' | translate }}</li>
                    <li><tt>id&gt;X</tt>: {{ 'OPERATOR_ID' | translate }}</li>
                    <li><tt>slots&gt;X</tt>: {{ 'OPERATOR_SLOTS' | translate }}</li>
                    <li><tt>combo&gt;X</tt>: {{ 'OPERATOR_COMBO' | translate }}</li>
                    <li><tt>exp&gt;X</tt>: {{ 'OPERATOR_EXP' | translate }}</li>
                    <li><tt>minCD&gt;X</tt>: {{ 'OPERATOR_MIN_CD' | translate }}</li>
                    <li><tt>maxCD&gt;X</tt>: {{ 'OPERATOR_MAX_CD' | translate }}</li>
                </ul>
                {{ 'OPERATORS_MATH_NOTE' | translate }} "<tt>&lt;</tt>", "<tt>&gt;=</tt>", "<tt>&lt;=</tt>" and "<tt>=</tt>".
                <br><br>
                {{ 'EXAMPLE_QUERY' | translate }}
                <br>
                <tt>type:str class:fighter atk>1300 cost>20 family:vinsmoke_sanji supports:2936</tt>
            </div>
        </script>

    </div>

</div>
