<div class="backdrop" ui-sref="^"></div>

<div class="inner-container" go-back>

    <div class="custom-modal">
        <div id="picker" class="modal-dialog">
            <div class="modal-content animated fadeInDown">
                <div class="modal-header">{{ 'RESET' | translate }}</div>
                <div class="modal-body slim">
                    {{ 'RESET_SURE' | translate }}
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" ng-click="resetStorage()">{{ 'YEP' | translate }}</button> 
                    <button class="btn btn-primary" ui-sref="^">{{ 'NOPE' | translate }}</button> 
                </div>
            </div>
        </div>
    </div>

</div>
