<div class="menu" id="links-button">

    <div class="btn trigger">
        <i class="fa fa-star fa-spin"></i>
    </div>

    <div class="icons">

        <div class="rotater" id="link-home">
            <a class="btn btn-icon" href="/">
                <i class="fa fa-home"></i>
                <span class="tip">Inicio</span>
            </a>
        </div>

        <div class="rotater" id="link-voyage">
            <a class="btn btn-icon" target="_blank" href="https://lukforce.bitbucket.io/">
                <i class="fa fa-map-marker"></i>
                <span class="tip">Calendario y TM</span>
            </a>
        </div>

        <div class="rotater" id="link-supports">
            <a class="btn btn-icon" target="_blank" href="https://thepiebandit.github.io/optc-supports/">
                <i class="fa fa-handshake"></i>
                <span class="tip">Base de Datos Supports</span>
            </a>
        </div>

        <div class="rotater" id="link-rumble">
            <a class="btn btn-icon" target="_blank" href="https://thepiebandit.github.io/optc-pirate-rumble-db/">
                <i class="fa fa-flag"></i>
                <span class="tip">Base de Datos Rumble</span>
            </a>
        </div>

        <div class="rotater" id="link-ship">
            <a class="btn btn-icon" target="_blank" href="https://optc-ships.vercel.app">
                <i class="fa fa-ship"></i>
                <span class="tip">Base de Datos Barcos</span>
            </a>
        </div>

        <div class="rotater" id="link-drops" ng-if="exclude != 'drops'">
            <a class="btn btn-icon" target="_blank" href="../drops">
                <i class="fa fa-arrow-down"></i>
                <span class="tip">Tabla de Drops</span>
            </a>
        </div>

        <div class="rotater" id="link-characters" ng-if="exclude != 'characters'">
            <a class="btn btn-icon" target="_blank" href="../characters">
                <i class="fa fa-book"></i>
                <span class="tip">Tabla de Personajes</span>
            </a>
        </div>

        <div class="rotater" id="link-damage" ng-if="exclude != 'calculator'">
            <a class="btn btn-icon" target="_blank" href="../damage">
                <i class="fa fa-calculator"></i>
                <span class="tip">Calculadora de Daño</span>
            </a>
        </div>

        <div class="rotater" id="link-reddit">
            <a class="btn btn-icon" target="_blank" href="https://www.reddit.com/r/OnePieceTC/" style="background: #FF4500 url('https://redditinc.com/hs-fs/hubfs/Reddit%20Inc/Content/Brand%20Page/Reddit_Logo.png?width=400&height=400&name=Reddit_Logo.png') no-repeat center; background-size: 100%;">
                <i class="fa fa-reddit-alien"></i>
                <span class="tip">r/OnePieceTC</span>
            </a>
        </div>

        <div class="rotater" id="link-github">
            <a class="btn btn-icon" target="_blank" href="https://github.com/Karthach/optc-db.github.io" style="background: #333 url('https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png') no-repeat center; background-size: 100%;">
                <i class="fa fa-github"></i>
                <span class="tip">Repositorio GitHub</span>
            </a>
        </div>

        <div class="rotater" id="link-discord">
            <a class="btn btn-icon" target="_blank" href="https://discord.gg/MRhRrbF" style="background: #5865F2 url('https://www.freepnglogos.com/uploads/discord-logo-png/discord-logo-logodownload-download-logotipos-1.png') no-repeat center; background-size: 100%;">
                <i class="fa fa-discord"></i>
                <span class="tip">Discord Reporte Bugs</span>
            </a>
        </div>

    </div>

</div>
