<div id="main">

    <div class="row">
        <units></units>
        <cruncher></cruncher>
    </div>

    <turn-counter ng-show="tdata.turnCounter.enabled"></turn-counter>
    <heal-counter ng-show="tdata.healCounter.enabled"></heal-counter>
    <rcv-counter ng-show="tdata.rcvCounter.enabled"></rcv-counter>
    <semla-counter ng-show="tdata.semlaCounter.enabled"></semla-counter>
    <damage-counter ng-show="tdata.damageCounter.enabled"></damage-counter>
    <basehp-counter ng-show="tdata.basehpCounter.enabled"></basehp-counter>
    <dmgreduction-counter ng-show="tdata.dmgreductionCounter.enabled"></dmgreduction-counter>
    <carrychain-counter ng-show="tdata.carrychainCounter.enabled"></carrychain-counter>
    <debuff-counter ng-show="tdata.debuffCounter.enabled"></debuff-counter>
    
    <hp-bar></hp-bar>

    <div id="other">
        <button type="button" class="btn btn-settings menu-link" uib-tooltip="{{ 'SETTINGS' | translate }}" tooltip-append-to-body="true"
                ng-click="options.sidebarVisible = !options.sidebarVisible">
            <i class="fas fa-cog"></i>
        </a><!--
     --><button type="button" class="btn btn-info" id="reset" ui-sref=".saveSlot" uib-tooltip="{{ 'SAVE' | translate }}" tooltip-append-to-body="true">
            <i class="fas fa-file-download"></i>
        </button><!--
     --><button type="button" class="btn btn-primary" id="reset" ui-sref=".loadSlot" uib-tooltip="{{ 'LOAD' | translate }}" tooltip-append-to-body="true">
            <i class="fas fa-file-upload"></i>
        </button><!--
     --><button type="button" class="btn btn-danger" id="reset" ui-sref=".reset" uib-tooltip="{{ 'RESET' | translate }}" tooltip-append-to-body="true">
            <i class="fas fa-eraser"></i>
        </button><!--
     --><button type="button" class="btn btn-orchid" id="quickPick" ui-sref=".quickpick" uib-tooltip="{{ 'QUICK_PICK' | translate }}" tooltip-append-to-body="true">
            <i class="fas fa-bolt"></i>
        </button><!--
     --><button type="button" class="btn btn-success" ng-click="generateURL()"
                title="Transfer team" ng-controller="ExportCtrl" uib-tooltip="{{ 'EXPORT_URL' | translate }}" tooltip-append-to-body="true">
            <i class="fas fa-exchange-alt"></i>
        </button><!--
     --><button type="button" class="btn btn-warning" ui-sref=".image" title="Generate image"
                uib-tooltip="{{ 'EXPORT_IMAGE' | translate }}" tooltip-append-to-body="true">
            <i class="fas fa-image"></i>
        </button>
        <button type="button" class="btn" ui-sref="main.instruction" title="Instructions"
                uib-tooltip="{{ 'INSTRUCTIONS' | translate }}" tooltip-append-to-body="true">
            <i class="fas fa-question-circle"></i>
        </button>
    </div>

    <url-container></url-container>

    <div id="transient" class="alert alert-danger" ng-if="options.transientMode" ng-click="options.transientMode = false">
        <i class="fas fa-lock"></i>
        {{ 'TRANSIENT_MODE' | translate }}
        <span popover-placement="top" popover-trigger="mouseenter"
            popover-title="{{ 'TRANSIENT_MODE_TITLE' | translate }}" uib-popover-template="'transient.html'"
            popover-append-to-body="'true'">
            (?)
        </span>
    </div>

</div>

<sidebar ng-class="{ open: options.sidebarVisible }"></sidebar>

<remove-zone></remove-zone>

<div class="popup" ui-view="popup" ng-class="{ visible: isPopupVisible }"></div>

<script type="text/ng-template" id="transient.html">
    <div id="transient-explanation">
        Transient mode is automatically activated whenever a data transfer is completed successfully.
        <br/>
        When transient mode is active, the calculator will not save its current state to disk, meaning you can discard any changes made by the last data transfer by simply refreshing the page.
    </div>
</script>
